- provide :title, 'Tilify - Modifier le message'

.row
  .small-12.medium-8.columns.small-centered.formRow
    %h2.text-center Modifier le message

    = render 'form'

    %p
      = link_to 'Afficher', @message
      \|
      = link_to 'Retour', messages_path
      \|
      %span.redWarning
        = link_to 'Supprimer', @message, :method => :delete, :data => { :confirm => "Êtes-vous certain ?" }
