.small-12.medium-8.columns.small-centered.text-center
  %h1 Administrateurs
  %br
  %br
  %table
    %thead
      %tr
        %th ID
        %th Pseudo
        %th Email
    %tbody
      - @admins.each do |admin|
        %tr
          %td= admin.id
          %td= admin.username
          %td= admin.email
