- if (admin_signed_in? || ( user_signed_in? && current_user.id.to_s == params[:id]))
  - provide :title, 'Tilify - Profil ' + @user.username
  .row
    .columns.small-10.small-centered.text-center.content
      %h1>
        Profil de
        = @user.username
      %br
      %br

      = gravatar_for(@user)
      = @user.email
- else
  :javascript
    window.location.href="/"
  - flash[:alert] = "Vous n'avez pas l'autorisation de visualiser ce profil."
