%footer
  .row
    .columns.small-10.small-centered{'data-equalizer' => ''}
      .columns.small-12.medium-4{'data-equalizer-watch' => ''}
        .footerLogo{'data-equalizer-watch' => ''}
          = image_tag('logo_white.png')
      .columns.small-12.medium-8.contactText{'data-equalizer-watch' => ''}
        %p
          %h5 Tilify
          %p
            Projet <strong>Web Week</strong> IUT M&eacute;tiers du Multim&eacute;dia et de l'Internet
            %br
            IUT Le Puy-en-Velay, 2014
          %h5 Contact
          %p
            = mail_to('braga.logan@gmail.com')
          %h5 Administration
          %p
            = link_to "Panneau d'administration", adminpanel_index_path

