/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

* {
  -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
  -ms-transition: color 0.2s ease-in, background 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background 0.2s ease-in;
  transition: color 0.2s ease-in, background 0.2s ease-in;
}

.blankPage {
  background-color: #ecf0f1;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999999999 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  width: 200px;
  height: 200px;
  z-index: 999999999999999999999999999 !important;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  background-image: url(loader.gif);
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Raleway' !important;
}

.formRow, .content {
  padding: 30px;
  margin-top: 30px;
  background-color: white;
}

.formRow h2, .formRow p, .formRow label {
  color: #404040 !important;
}

.alert-box {
  text-align: center;
  /* margin-top: 20px; */
  margin: 0px;
  float: center;
  font-weight: bold !important;
}

.blackAlert {
  color: #404040 !important;
}

.redWarning a {
  color: #e74c3c !important;
}

.formRow a:hover {
  text-decoration: underline !important;
}

html, body {
  width: 100%;
  overflow-x: none;
  background-color: #ecf0f1;
  font-family: 'Raleway' !important;
}


h1 {
  color: #404040 !important;
}

#menu {
  background-color: #bdc3c7;
  color: white;
  margin-bottom: 1%;
}

.menu {
  background-color: #bdc3c7;
  color: white;
  margin-bottom: 1%;
}


.name a {
  font-weight: bold !important;
}

dd {
  margin: 0;
  padding: 0;
  width: auto;
}

.search input {
  font-size: 0.7em;
}

nav a{
  color: white !important;
}

nav a:hover{
  color: #ececec !important;
}

nav h1 {
  font-size: 1.3em !important;
}

nav h1 a:hover {
  color: #008cba !important;
}

nav input {
  height: 29px !important;
}

.formRow small {
  color: #e74c3c !important;
}

.debug {
  margin: 30px;
  padding: 15px;
  color: #707070;
  border: 1px solid #707070;
  background: white;
}

#welcome {
  padding: 40px 0px;
  width: 100%;
  background-color: #008cba;
  border-bottom: 5px solid #bfbfbf;
}

#welcome h1, h2, h3, h4, p {
  color: white !important;
}

#features {
  margin: 40px 0px;
  color: #404040 !important;
}

#features p, #features h4, #features h2 {
  color: #404040 !important;
}
.feature {
  padding: 25px;
}
.feature:hover {
  background-color: #eaeaea;
}

#features h4 {
  margin-top: -20px !important;
}

footer {
  background-color: #404040;
  color: white !important;
  padding: 25px;
  margin-top: 40px;
  width: 100%;
  text-align: right !important;
  border-top: 1px solid #707070;
  vertical-align: center;
}

footer h5 {
  color: white !important;
  font-weight: bold;
}

footer p, footer h5 {
  font-size: 0.85rem;
}

.footerLogo {
  border-right: 1px solid white;
  padding: 25px;
  margin-bottom: 40px;
  text-align: left;
}

.footerLogo img {
  width: 150px;
  margin: auto !important;
}

.contactText {
  /* padding: 10px 0px; */
  vertical-align: center;
}
