/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*= require font-awesome
*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/transitions'

*/

* {
  -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
  -ms-transition: color 0.2s ease-in, background 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background 0.2s ease-in;
  transition: color 0.2s ease-in, background 0.2s ease-in;
}

.blankPage {
  background-color: #ecf0f1;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999999999 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  width: 200px;
  height: 200px;
  z-index: 999999999999999999999999999 !important;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  background-image: image-url("loader.gif");
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Raleway' !important;
}

.formRow, .content {
  padding: 30px;
  margin-top: 30px;
  background-color: white;
  overflow: hidden;
  // border-radius: 4px !important;
}

.formRow, .formRowNeuter {
  // border-radius: 4px !important;
}

.formRow h2, .formRow p, .formRow label {
  color: #404040 !important;
}

.alert-box {
  text-align: center;
  /* margin-top: 20px; */
  margin: 0px;
  float: center;
  font-weight: bold !important;
}

.blackAlert {
  color: #404040 !important;
}

.redWarning a {
  color: #e74c3c !important;
}

.formRow a:hover {
  text-decoration: underline !important;
}

html, body {
  width: 100%;
  overflow-x: none;
  background-color: #ecf0f1;
  font-family: 'Raleway' !important;
}


h1 {
  color: #404040 !important;
}

#menu {
  background-color: #bdc3c7;
  color: white;
  margin-bottom: 1%;
}

.menu {
  background-color: #bdc3c7;
  color: white;
  margin-bottom: 1%;
}


.name a {
  font-weight: bold !important;
}

dd {
  margin: 0;
  padding: 0;
  width: auto;
}

.search input {
  font-size: 0.7em;
}

nav a{
  color: white !important;
}

nav a:hover{
  color: #ececec !important;
}

nav h1 {
  font-size: 1.3em !important;
}

nav h1 a:hover {
  color: #085a78 !important;
}

nav .active a{
  background-color: #085a78 !important;
}

nav input {
  height: 29px !important;
}

.formRow small, .formRowNeuter small {
  color: #e74c3c !important;
  font-weight: bold !important;
  display: block;
  margin: 5px 0 10px 0 !important;
}

.debug {
  margin: 30px;
  padding: 15px;
  color: #707070;
  border: 1px solid #707070;
  background: white;
}

#welcome {
  padding: 40px 0px;
  width: 100%;
  background-color: #085a78;
  border-bottom: 5px solid #bfbfbf;
}

#welcome h1, h2, h3, h4, h5, h6, p {
  color: white !important;
}

#features {
  margin: 40px 0px;
  color: #404040 !important;
}

#features p, #features h4, #features h2 {
  color: #404040 !important;
}
.feature {
  padding: 25px;
}
.feature:hover {
  background-color: #eaeaea;
}

#features h4 {
  margin-top: -20px !important;
}

footer {
  // color: white !important;
  width: 100%;
  border-top: 1px solid #707070;
  vertical-align: center;
}


footer h5 {
  color: white !important;
  font-weight: bold;
}

footer p, footer h5, footer a {
  font-size: 0.9rem;
  // line-height: 1rem;
  color: white;
}

footer .footer-top {
  padding-top: 25px;
  padding-bottom: 5px;
  background-color: #085a78 !important;
  width: 100%;
}

footer .footer-top h5 {
  margin-top: -5px;
}

footer .footer-middle {
  background-color: #074e68;
  padding: 30px 0px;
}


.footerLogo {
  // border-right: 1px solid #085a78;
  padding: 25px;
  margin-bottom: 40px;
  text-align: left;
}

.footerLogo img {
  width: 150px;
  margin: auto !important;
}

.footer-bottom {
  background-color: #333333;
  padding: 25px 0px;
}

.footer-bottom a {
  font-weight: bold;
  color: #656565;
  overflow: hidden;
}

.footerH {
  font-size: 1.4rem !important;
}

.footer-bottom ul {
  margin: 0 !important;
  padding: 0 !important;
}

.footer-bottom li {
  display: inline !important;
  list-style-type: none;
  padding: 8px;
  // font-variant: small-caps;
  text-transform: uppercase;
}

.footer-bottom li a {
  font-size: 0.8rem!important;
}

.footer-bottom a:hover {
  color: #808080;
}

.footer-bottom li:first-child {
  padding-left: 1px !important;
}

.contactText {
  /* padding: 10px 0px; */
  vertical-align: center;
}

.helpLinks hr {
  border-top: 1px solid #085a78 !important;
}


.helpLinks a{
  color: rgba(255,255,255,0.3) !important;
}
.helpLinks a:hover{
  color: rgba(255,255,255,0.7) !important;
}

#usersList {
  margin: 40px 0px;
}

#usersList th {
  width: 800px;
}

#usersList h1 a {
  color: #404040 !important;
}

#usersList h1 a:hover {
  color: #085a78 !important;
}

.adminWelcome a {
  color: white !important;
}

.adminWelcome a:hover {
  color: #dedede !important;
}

#usersList h2 {
  color: #404040 !important;
}

#whyUDoDis p, #usersModal p, #adminsModal p, #messagesModal p, #tilesModal p {
  color: #404040 !important;
}

blockquote {
  border-left: 1px solid #dddddd !important;
  // background-color: #efefef !important;
  padding: 20px;
}

blockquote:hover:not(.noHover) {
  // background-color: #efefef !important;
}

blockquote p {
  color: #404040 !important;
  margin-left: 10px !important;
  font-size: 0.9rem !important;
}

blockquote h6 {
  background-color: transparent !important;
  color: #085a78 !important;
}
blockquote:hover:not(.noHover) h6 {
  color: #008cba !important;
}

.masonry, .masonry:before, .masonry:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.blue {
  color: #085a78 !important;
  font-weight: bold;
}

.th {
  margin-right: 10px !important;
}

input[type="checkbox"] {
  margin-right: 1em !important;
}


tr.red td {
  color: #d9543f !important;
  font-weight: 600;
}

.red {
  color: #d9543F !important;
  font-weight: 600;
}

.black {
  color: #404040 !important;
}

.features p, .features h5 {
  text-align: center;
  vertical-align: center;
  margin: auto;
  color: white !important;
}

.concept {
  padding: 0px 30px !important;
  margin: 15px 0px;
}

@media screen and (min-width: 40em) {
  .concept {
    border-right: 1px solid #085a78;
  }
  .concept:first-child {
    border-left: 1px solid #085a78;
  }
  .concept:last-child {
    border-right: 1px solid transparent;
  }
}

@media screen and (max-width: 40em) {
  .helpLinks .helpCol {
    margin-bottom: 15px;
  }
}

.social {
  text-align: right;
}

.adminlink a{
  font-size: 0.85rem !important;
  padding-left: 15px !important;
  font-weight: normal !important;
}

.adminlink {
  margin-bottom: 0px;
}

nav .dropdown a {
  background-color: #333333 !important;
}

nav .dropdown a:hover {
  background-color: #252525 !important;
}


.tuilesIndex .myMasonry {
  margin: 0.4rem;
  color: white !important;
}

.tuile1 {
  background-color: #085a78;
}


#tiles {
  margin: 0px 0 20px 0 !important;
}


.gallerie p {
  text-align: justify !important;
}

.gallerie {
  margin: 2% 0;
}

.myMasonry {
  // background-color: #2980b9;
  border: transparent solid 4px;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.myMasonry img {
  margin-top: 14%;
  margin-bottom: 14%;
  margin-left: 4%;
  margin-right: 4%;
  width: 70%;
  // border: 1px solid rgba(255,255,255,1);
}

.myMasonry h3 {
  margin-top: 8%;
  color: white;
  font-weight: 500;
  font-size: 1.3em;
}

.myMasonry p {
  color: #bdc3c7;
  font-weight: 300;
  font-size: 0.9rem;
}

.masonWrapper {
  color: white !important;
  padding: 0.4rem;
}

.masonWrapper hr {
  border-top: 1px solid rgba(255,255,255,1);
}

.masonWrapper:hover li {
  background-color: rgba(255,255,255,0.5);
}

.masonWrapper:hover p, .masonWrapper:hover h3, .masonWrapper:hover i{
  color: rgba(255,255,255,0.5) !important;
}

.masonWrapper:hover hr {
  border-top: 1px solid rgba(255,255,255,0.5);
}

.masonWrapper:hover .myMasonry img {
  // border: 1px solid rgba(255,255,255,0.5);
  opacity: 0.5;
}

.docu {
  color: rgba(255,255,255,0.3) !important;
}
.docu:hover {
  color: rgba(255,255,255,0.7) !important;
}

.tuile2 {
  background-color: #074e68;
}

.tuilesIndex h5, .tuilesIndex h6 {
  color: white !important;
}

#searchInTiles {
  padding: 40px 0 0 0;
  // background-color: #aeaeae;
}

#searchInTiles legend {
  color: #bfbfbf;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.blackbutton {
  background-color: #333333;
  color: white;
}

.blackbutton:hover {
  background-color: #151515;
}

img.small {
  width: 100px;
}

.tileType {
  margin: 5px 5px 0px 0px !important;
}

.taglist li {
  display: inline;
  padding: 10px;
  border-radius: 2px;
  background-color: #008cba;
  color: white;
  margin-right: 5px;
}

.taglistReverse {
  text-align: left !important;
  margin: 0 0 10px 0 !important;
}

.taglistReverse li {
  display: inline;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
  color: #085a78;
  margin-right: 3px;
  font-size: 0.7em;
}

.masonWrapper hr {
  margin: 10px 0 !important;
}
